# ===============================
# Contexto legal sensible
# ===============================
app/context/

# ===============================
# Variables de entorno
# ===============================
.env

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ===============================
# Virtualenv
# ===============================
.venv/
venv/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db